<ActionBar title="ListView" class="action-bar">
</ActionBar>
<StackLayout class="page">
    <ListView [items]="items" class="list-group">
        <ng-template let-item="item">
            <StackLayout class="list-group-item">
                <Label [nsRouterLink]="['/item', item.id]" [text]="item.name"></Label>
                <WrapLayout>
                    <Label [text]="'a' + item.id"></Label>
                    <Label [text]="' b' + item.id"></Label>
                    <Label [text]="' c' + item.id"></Label>
                    <Label [text]="' d' + item.id"></Label>
                    <Label [text]="' e' + item.id"></Label>
                    <Label [text]="' f' + item.id"></Label>
                    <Label [text]="' g' + item.id"></Label>
                    <Label [text]="' h' + item.id"></Label>
                    <Label [text]="' i' + item.id"></Label>
                    <Label [text]="' j' + item.id"></Label>
                    <Label [text]="' k' + item.id"></Label>
                    <Label [text]="' l' + item.id"></Label>
                    <Label [text]="' m' + item.id"></Label>
                    <Label [text]="' n' + item.id"></Label>
                    <Label [text]="' o' + item.id"></Label>
                    <Label [text]="' p' + item.id"></Label>
                    <Label [text]="' q' + item.id"></Label>
                    <Label [text]="' s' + item.id"></Label>
                    <Label [text]="' t' + item.id"></Label>
                    <Label [text]="' u' + item.id"></Label>
                    <Label [text]="' v' + item.id"></Label>
                    <Label [text]="' w' + item.id"></Label>
                    <Label [text]="' x' + item.id"></Label>
                    <Label [text]="' y' + item.id"></Label>
                    <Label [text]="' z' + item.id"></Label>
                </WrapLayout>
                <WrapLayout>
                    <Label [text]="'a' + item.id"></Label>
                    <Label [text]="' b' + item.id"></Label>
                    <Label [text]="' c' + item.id"></Label>
                    <Label [text]="' d' + item.id"></Label>
                    <Label [text]="' e' + item.id"></Label>
                    <Label [text]="' f' + item.id"></Label>
                    <Label [text]="' g' + item.id"></Label>
                    <Label [text]="' h' + item.id"></Label>
                    <Label [text]="' i' + item.id"></Label>
                    <Label [text]="' j' + item.id"></Label>
                    <Label [text]="' k' + item.id"></Label>
                    <Label [text]="' l' + item.id"></Label>
                    <Label [text]="' m' + item.id"></Label>
                    <Label [text]="' n' + item.id"></Label>
                    <Label [text]="' o' + item.id"></Label>
                    <Label [text]="' p' + item.id"></Label>
                    <Label [text]="' q' + item.id"></Label>
                    <Label [text]="' s' + item.id"></Label>
                    <Label [text]="' t' + item.id"></Label>
                    <Label [text]="' u' + item.id"></Label>
                    <Label [text]="' v' + item.id"></Label>
                    <Label [text]="' w' + item.id"></Label>
                    <Label [text]="' x' + item.id"></Label>
                    <Label [text]="' y' + item.id"></Label>
                    <Label [text]="' z' + item.id"></Label>
                </WrapLayout>
                <WrapLayout>
                    <Label [text]="'a' + item.id"></Label>
                    <Label [text]="' b' + item.id"></Label>
                    <Label [text]="' c' + item.id"></Label>
                    <Label [text]="' d' + item.id"></Label>
                    <Label [text]="' e' + item.id"></Label>
                    <Label [text]="' f' + item.id"></Label>
                    <Label [text]="' g' + item.id"></Label>
                    <Label [text]="' h' + item.id"></Label>
                    <Label [text]="' i' + item.id"></Label>
                    <Label [text]="' j' + item.id"></Label>
                    <Label [text]="' k' + item.id"></Label>
                    <Label [text]="' l' + item.id"></Label>
                    <Label [text]="' m' + item.id"></Label>
                    <Label [text]="' n' + item.id"></Label>
                    <Label [text]="' o' + item.id"></Label>
                    <Label [text]="' p' + item.id"></Label>
                    <Label [text]="' q' + item.id"></Label>
                    <Label [text]="' s' + item.id"></Label>
                    <Label [text]="' t' + item.id"></Label>
                    <Label [text]="' u' + item.id"></Label>
                    <Label [text]="' v' + item.id"></Label>
                    <Label [text]="' w' + item.id"></Label>
                    <Label [text]="' x' + item.id"></Label>
                    <Label [text]="' y' + item.id"></Label>
                    <Label [text]="' z' + item.id"></Label>
                </WrapLayout>
                <WrapLayout>
                    <Label [text]="'a' + item.id"></Label>
                    <Label [text]="' b' + item.id"></Label>
                    <Label [text]="' c' + item.id"></Label>
                    <Label [text]="' d' + item.id"></Label>
                    <Label [text]="' e' + item.id"></Label>
                    <Label [text]="' f' + item.id"></Label>
                    <Label [text]="' g' + item.id"></Label>
                    <Label [text]="' h' + item.id"></Label>
                    <Label [text]="' i' + item.id"></Label>
                    <Label [text]="' j' + item.id"></Label>
                    <Label [text]="' k' + item.id"></Label>
                    <Label [text]="' l' + item.id"></Label>
                    <Label [text]="' m' + item.id"></Label>
                    <Label [text]="' n' + item.id"></Label>
                    <Label [text]="' o' + item.id"></Label>
                    <Label [text]="' p' + item.id"></Label>
                    <Label [text]="' q' + item.id"></Label>
                    <Label [text]="' s' + item.id"></Label>
                    <Label [text]="' t' + item.id"></Label>
                    <Label [text]="' u' + item.id"></Label>
                    <Label [text]="' v' + item.id"></Label>
                    <Label [text]="' w' + item.id"></Label>
                    <Label [text]="' x' + item.id"></Label>
                    <Label [text]="' y' + item.id"></Label>
                    <Label [text]="' z' + item.id"></Label>
                </WrapLayout>
            </StackLayout>
        </ng-template>
    </ListView>
</StackLayout>
